# Ignore folder named 'venv'
.vscode
venv/
bin/
lib/
pyvenv.cfg
ansible/playbook/*.retry
tangerine/__pycache__/
tangerine/config/__pycache__/__init__.cpython-36.pyc
tangerine/config/__pycache__/settings.cpython-36.pyc
tangerine/config/__pycache__/urls.cpython-36.pyc
tangerine/server/__pycache__/__init__.cpython-36.pyc
tangerine/server/__pycache__/urls.cpython-36.pyc
tangerine/server/__pycache__/views.cpython-36.pyc
tangerine/auth0authorization/__pycache__
tangerine/pip-selfcheck.json
tangerine/auth0authorization/migrations/
tangerine/dev_env/
