.snap-scroll-container {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.snap-scroll {
    overflow: hidden;
    scroll-snap-align: start;
}

.heading{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: normal;
    font-size: 6em;
    font-weight: bold;
}

.heading:hover{
    color:orange;
}

.sentence{
    margin-top: 2rem;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: normal;
    font-size: 2em;
    font-weight: bold;
}

.sentence:hover{
    color:orange;
}

.login{
    margin-top: 2rem;
    height: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid orange;
    color: orange;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    border-radius: 25px;
}

.login:hover{
    border-color: teal;;
    text-emphasis-color: teal;
    color: teal;
}

.login:focus{
    outline: none;
    border-radius: 25px;
}

.features-font{
    font-size: 20px;
    margin-bottom: 2em;
    justify-content: center;
    text-align: center;
    display: flex;
    font-weight: bold;
}


.img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2;
    width: 100%;
    height: auto;
    background-size: 10px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.img:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}